sphinx==4.0.2
sphinx-rtd-theme==0.5.2
mock
typing_extensions
importlib_metadata
scanpydoc[typehints]>=0.7.4
sphinxext-opengraph
sphinx-copybutton
matplotlib
docutils
readthedocs-sphinx-ext
nbsphinx
ipython
anndata
numpy
pandas
cycler
markupsafe
symphonypy
harmonypy
openTSNE
