sphinx
sphinx-rtd-theme
mock
typing_extensions
importlib_metadata
sphinxext-opengraph
sphinx-copybutton
matplotlib
docutils
readthedocs-sphinx-ext
nbsphinx
ipython
anndata
numpy
pandas
cycler
markupsafe
symphonypy
harmonypy
openTSNE
